public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
strict-peer-dependencies=false
auto-install-peers=true
# Using this option because Strapi
# https://github.com/strapi/strapi/issues/15094
shamefully-hoist=true